<div class = page-container>
  <h2 class="text-center">Welcome <%= @user.email %>!</h2>
  <p><%= link_to "Create a toilet", new_toilet_path %></p>
  <h3>Your toilets: </h3>
  <div class="button cards-your-toilet">
    <% @toilets.each do |toilet| %>
    <div class="card-your-toilet">
      <div class="image">
        <% if toilet.photos.attached? %>
          <% toilet.photos.each do |photo| %>
            <div class="toilet-img" style="background-image: url('<%= cl_image_path photo.key %>')"></div>
          <% end %>
        <% end %>
      </div>
      <div class="content">
        <div class="infos">
          <h4><%= toilet.name %></h4>
          <p><%= toilet.description %></p>
        </div>
        <div class="delete">
          <p><%= link_to "Delete", toilet_path(toilet), method: :delete, data: {confirm: "Are you sure?"} %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>


  <h3 class="ms-2">Bookings of your toilets:</h3>
  <div class="button cards-your-toilet">
    <% @bookings_of_your_toilets.each_with_index do |booking, index| %>
    <div class="card-your-toilet">
      <div class="image">
        <% if booking.toilet.photos.attached? %>
          <% booking.toilet.photos.each do |photo| %>
            <div class="toilet-img" style="background-image: url('<%= cl_image_path photo.key %>')"></div>
          <% end %>
        <% end %>
      </div>
      <div class="content">
        <h4><%= index + 1 %>. <%= booking.toilet.name %></h4>
        <p>booked from:<%= booking.date_start %></p>
        <p>until <%= booking.date_end %></p>
        <p>"<%= booking.message %>" </p>
        <%= link_to "decline booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %>
      </div>
    </div>
    <% end %>
  </div>

  <h3>Your bookings:</h3>
  <div class="button cards-your-toilet">
    <% @bookings.each_with_index do |booking, index| %>
    <div class="card-your-toilet">
      <div class="image">
        <% if booking.toilet.photos.attached? %>
          <% booking.toilet.photos.each do |photo| %>
            <div class="toilet-img" style="background-image: url('<%= cl_image_path photo.key %>')"></div>
          <% end %>
        <% end %>
      </div>
      <div class="content">
        <h4> <%= index + 1 %>. <%= booking.toilet.name  %></h4>
        <p>booked from: <%= booking.date_start %></p>
        <p>until: <%= booking.date_end %></p>
        <p>"<%= booking.message %>"</p>
        <p><%= link_to "cancel booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %></p>
        <%= link_to 'Leave a review', new_booking_review_path(booking) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
