<div class="banner">
  <h2>Hello <%= @user.email %></h2>
</div>
<h3>Your toilets: </h3>
<div class="button">
  <% @toilets.each do |toilet| %>
  <p><%= link_to toilet.name, toilet_path(toilet) %></p>
  <p><%= link_to "Create a toilet", new_toilet_path %></p>
  <% end %>
</div>


<h3>Bookings of your toilets:</h3>
<% @bookings_of_your_toilets.each_with_index do |booking, index| %>
<h4><%= index + 1 %>. <%= booking.toilet.name %></h4>
  <div class="button">
    <p>booked from:<%= booking.date_start %></p>
    <p>until <%= booking.date_end %></p>
    <p>"<%= booking.message %>" <%= link_to "decline booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %></p>
  </div>
<% end %>

<h3>Your bookings:</h3>
<% @bookings.each_with_index do |booking, index| %>
 <div class="button">
    <h4> <%= index + 1 %>. <%= booking.toilet.name  %></h4>
    <p>booked from: <%= booking.date_start %></p>
    <p>until: <%= booking.date_end %></p>
    <p>"<%= booking.message %>" <%= link_to "cancel booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %></p>
    <%= link_to 'Leave a review', new_booking_review_path(booking) %>
  </div>
<% end %>
