<div class="searchblock">
  <div class="searchbar">
    <%= form_tag toilets_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a toilet"
      %>
      <div class="magnifier">
        <i class="fas fa-search">
        <%= submit_tag "Submit" %>
        </i>
      </div>
    <% end %>
  </div>
</div>
<div id="map"
     style="width: 40%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="toilet-index-container text-decoration">
  <h2>Toilets in the area</h2>
  <div class="cards-index">
    <% @toilets.each do |toilet| %>
    <div class="card-index">
      <h4><%= link_to toilet.name, toilet_path(toilet) %></h4>
      <p>"<%= toilet.description %>"</p>
    </div>
    <% end %>
  </div>
</div>
