<div class= "toilet-container">
  <h2><%= @toilet.name %></h2>
  <ul class ='toilet'>
    <% if @toilet.photos.attached? %>
      <% @toilet.photos.each do |photo| %>
        <li><div class='toilet-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div></li>
      <% end %>
    <% end %>
    <div class="toilet-description">
      <li><%= @toilet.description %></li>
      <li><i class="fas fa-map-marker-alt"></i><%= @toilet.location %></li>
      <li><%= @toilet.price %></li>
      <li><%= @toilet.user.email %></li>
    </div>
  </ul>
  <ul>
  <br>
  <li class='btn-grey'><%= link_to "add a booking", new_toilet_booking_path(@toilet) %></li >
  </ul>
  <ul class="list-group">
    <% if @bookings %>
      <% @bookings.each do |booking| %>
        <% if booking.review %>
        <h2>Reviews</h2>
          <li class="list-group-item"><%= booking.review.comment %> Rating:<%= booking.review.rating %>/10</li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
