<h2><%= @toilet.name %></h2>
<ul>
  <% if @toilet.photos.attached? %>
    <% @toilet.photos.each do |photo| %>
      <li><%= cl_image_tag photo.key, height: 300, width: 200, crop: :fill %></li>
    <% end %>
  <% end %>
  <li><%= @toilet.description %></li>
  <li><%= @toilet.location %></li>
  <li><%= @toilet.price %></li>
  <li><%= @toilet.user.email %></li>
</ul>

<%= link_to "home", root_path %>
<%= link_to "add a booking for this toilet", new_toilet_booking_path(@toilet) %>
