<h2><%= @toilet.name %></h2>
<ul>
  <li><%= @toilet.description %></li>
  <li><%= @toilet.location %></li>
  <li><%= @toilet.price %></li>
  <li><%= @toilet.user.email %></li>
</ul>

<%= link_to "home", root_path %>
