<div class= "toilet-container">
  <h2><%= @toilet.name %></h2>
  <ul class ='toilet'>
    <% if @toilet.photos.attached? %>
      <% @toilet.photos.each do |photo| %>
        <li class ='toilet-img'><div class= "toilet-img" style="background-image: url(<%= cl_image_path photo.key %>)"></div></li>
      <% end %>
    <% end %>
    <div class="toilet-description">
      <li><%= @toilet.description %></li>
      <li><%= @toilet.location %></li>
      <li><%= @toilet.price %></li>
      <li><%= @toilet.user.email %></li>
    </div>
  </ul>
  <ul>
  <li class='btn-grey'><%= link_to "home", root_path %></li>
  <br>
  <li class='btn-grey'><%= link_to "add a booking", new_toilet_booking_path(@toilet) %></li >
  </ul>
  <h3>Reviews</h3>
  <ul class="list-group">
  <% if @bookings %>
    <% @bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.review.comment %> Rating:<%= booking.review.rating %>/10</li>
    <% end %>
  <% end %>

</ul>
</div>
